.subscribe{
    position: relative;
    width: 1440px;
    height: auto;
    background: #FEFCF7;
    margin: 0 auto;
}

@media only screen and (max-width:768px){
    .subscribe{
        width: 768px;
    }
}

@media only screen and (max-width:425px){
    .subscribe{
        width: 375px;
        height: 5950px;
    }
}